.popup .popup_title {
    font: 36px "Five Years Later", sans-serif;
    color: #333333;
    line-height: 47px;
    margin-bottom: 8px;
}
.offer .popup_text{
    padding: 60px 50px;
    overflow: auto;
    justify-content: normal;
}
.popup_subtitle {
    font: 24px "Five Years Later", sans-serif;
    color: #dab564;
    line-height: 31px;
    margin-bottom: 10px;
}
.offer-text .offer-detail{
    font-family: Five Years Later;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;
}
.offer_popup .offer-content {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 90%;
    max-width: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}
.offer-image .popup_title {

    line-height: 1.3;
    color: #ffffff;
}
.offer-content .popup_title span {
    text-align: center;
    display: block;
}
.offer-content .popup_subtitle {
    padding-top: 20px;
    font-size: 24px;
    color: #333333;
    font-family: "Five Years Later";
    text-align: center;
    margin-bottom: 20px;
}
.offer_popup .offer-content,
.popup_success .offer_popup {
    width: 50%;
}
.offer_popup .wrapper {
    padding: 20px;
}
.offer_popup {
    z-index: 1000;
}
.offer_popup .offer-content {
    z-index: 1000;
}
@media screen and (min-width: 700px) {
    .offer_popup .offer-content {
        flex-direction: row;
        max-width: 400px;
    }
    .offer-content .popup_title {
        padding: 20px;
        font-size: 32px;
    }
    .offer_popup .wrapper {
        width: auto;
    }
}
@media screen and (min-width: 1000px) {
    .offer_popup {
        width: auto;
        max-width: 900px;
    }
    .offer_popup .popup_title {
        width: 50%;
        font-size: 34px;
        padding: 0;
        background-position: 60%;
        height: 380px;
    }
    .offer_popup .wrapper {
        padding: 20px;
        width: 50%;
    }
    .offer_popup .popup_subtitle {
        font-size: 32px;
        text-align: center;
    }
    .offer_popup .next_step {
        width: 100%;
        cursor: pointer;
        margin-top: 20px;
    }
    .offer_popup .offer-content {
        max-width: 900px;
    }
}
.popup .offer-image{
    width:50% !important;
    height: 460px !important;
    background-size: cover;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.popup .offer-image img{
    height: inherit;
    width: 100%;
}
@media (max-width: 991px) {
    .offer-text {
        align-items: center;
        width: 100% !important;
    }
}
