.blog .filter {
    width: 270px;
    min-width: 270px;
    margin-right: 32px;
}
.filter_inner {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    padding: 20px 24px;
    margin-bottom: 30px;
}

.filter li a.filter_title {
    font: 18px "Five Years Later", sans-serif;
    line-height: 28px;
    color: #9cafbb;
}
.filter_inner li {
    list-style-type: none;
}
.filter_inner > ul > li {
    font: 18px "Five Years Later", sans-serif;
    line-height: 28px;
    color: #9cafbb;
    margin-bottom: 5px;
}

.filter_inner li ul {
    margin-left: 12px;
    display: none;
}

.filter_inner > ul {
    margin-top: 5px;
}
.filter li > span {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.filter li > span img {
    width: 9px;
    min-width: 9px;
    height: 12px;
    margin-left: auto;
    transition: 0.2s;
}
.filter li.dropdown {
    cursor: pointer;
}
.filter li.open > span,
.filter li.dropdown:hover > span,
.filter li a.filter_title:hover{
    color: #07569e;
}
.filter li.open > span > img {
    transition: 0.2s;
    transform: rotate(90deg);
}

.filter li a {
    display: block;
}
.filter li a,
.filter li ul {

    line-height: 28px;
    text-decoration: none;
    color: #9cafbb;
}
.filter li a:hover,
.filter li a.active{
    color: #dab564;
}
.filter li ul {
    padding-top: 4px;
    font: 14px "TT Commons", sans-serif;
    line-height: 28px;
}
.filter li ul li ul {
    padding-bottom: 0px;
}